body {
    background-color: rgb(32,32,32);
}

.background {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.test {
    width: 400px;
    height: 400px;
    margin-top: 100px;
    margin-left: 200px;
}

.underConstruction {
    width: 400px;
    color: white;
    font-size: 30pt;
    margin-top: 200px;
    margin-left: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}